@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    

}

::-webkit-scrollbar{
    scroll-behavior: smooth;
    background-color: #161515;
}

::-webkit-scrollbar-thumb{
    background-color: #f3cc41;
    border-radius: 3.5px;
    
}


header{
    background-color: #161515;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    padding: 20px;
    column-gap: 80%;
}

header .logo img{
    width: 180px;
    height: 150px;
    
}

header a .coinIcon{
    height: 80px;
}

.carritoConteo{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.conteo{
    color: #f3cc41;
}

h1{
    padding: 90px;
    font-size: 70px;
    height: 300px;
    color: #ffffff;
    background-color: #161515;
    text-align: center;
}

h2{
    text-align: center;
    background-color: #151616;
    color: #f3cc41;
    font-size: 25px;
    height: 120px;
    padding-top: 20px;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #161515;
    height: 300px;
}

.searchContainer input{
    height: 50px;
    width: 80%;
    background-color: #ffffff; 
    color: #161515;
    border-radius: 7px;
    
}

.searchContainer input::placeholder{
    color: #161515;
}

.sectionContainer, .contenedorCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: center;
    background-color: #151616;
}


.personajeCard{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #f3cc41;
    border-radius: 5.5px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 2px 7px 7px rgba(0,0,0,0.89);
}

.personajeCard h3{
    text-align: center;
    color: #151616;
    padding-bottom: 30px;
    
}

.personajeCard img{
    width: 125px;
    height: 125px;
    object-fit: contain;
    margin: auto;
    margin-bottom: 25px;    
}

.personajeCard .subCard{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}


.personajeCard .subCard a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    margin: auto;

}

.personajeCard .subCard  button{
    transition: 0.2s;
    height: 40px;
    width: 100%;
    text-align: center;
    margin: auto;
    color: #ffffff;
    background-color: #E21414;
    border-radius: 5.5px;
    transition: 0.5s all;
    cursor: pointer;
}

.personajeCard .subCard  button:hover{
    color: #161515;
    background-color: #ffffff;
}



.botonFinalizar{
    text-align: center;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151616;
}

.botonFinalizar button{
    width: 200px;
    height: 80px;
    background-color: #E21414;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}

.botonFinalizar button:hover{
    background-color: #ffffff;
    color: #161515;
    
}

.totalCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #151616;
    color: #151616;
}

.totalCard .total{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3cc41;
    height: 50px;
    text-align: start;
    box-shadow: 1px 2px 7px 7px rgba(0,0,0,0.89);
    border-radius: 5.5px;
    padding: 10px;
}


.containerError{
    display: flex;
    flex-direction: column;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    color: #ffffff;
}

.containerError h3{
    font-size: 40px;
}

.containerError h4{
    font-size: 25px;
}


footer{
    background-color: #f3cc41;
    color: #161515;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer h3:hover{
    color: #E21414;
}